
body{
  font-family: 'Poiret One', serif;
}

/*NAVIGATION*/

.navbar-brand{
  color:black;
  font-size: 20px;
}

.element-spacing{
  margin-top: 40px;
}

a.nav-list{
  color:black;
}

.navbar-nav:hover{
  color:gray;
}

.navbar-toggle{
 background-color:gray;
}

span.icon-bar {
background-color:white;
}

/*QUOTE*/

.quote{

}

#location-title {
  text-align: center;
}

#location{
  margin-top: 60px;
}