/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

.navbar .navbar-brand img {
 height: 30px;
}

h5 {
  font-weight: bold;
}

.hero {
  display: relative;
  width: 100%;
  background: url('/images/backg.jpg');
  background-size: cover;
}

.hero .nav {
  width: 100%;
  height: 55px;
  background-color: white;
  padding: 10px 20px;
}

.hero .nav a.btn-primary {
  float: right;
}

a.btn-primary {
  background-color: #51aabf;
  border-color: #51aabf;
}

.hero img.logo {
  width: 120px;
  float: left;
}

.hero .pitch {
  width: 80%;
  margin: 20px auto;
  font-size: 30px;
  color: #e8eacf;
  text-align: center;
}

.hero .pitch-you {
  font-weight: bold;
  font-size: 40px;
}

.hero iframe,
.hero #wistia_embed {
  margin: 0 auto;
  width: 620px;
  display: block;
  border: 3px solid #e8eacf;
}

.hero .call-to-action {
  text-align: center;
  margin-top: 30px;
}

.hero .call-to-action .btn-primary {
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.signup .search {
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}
